* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar-track {
  background-color: #141414;
}
::-webkit-scrollbar {
  width: 10px;
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: #C20C71;
}

:root {
  --primary: #570532;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

.App{ 
  background-color: #141414;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}